In [5]:
import numpy as np
import pandas as pd

In [6]:
interactions = pd.read_csv('RAW_interactions.csv')
recipes = pd.read_csv('RAW_recipes.csv')

In [7]:
interactions.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [8]:
recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [9]:
recipes=recipes[['name','id','tags','contributor_id','ingredients']]

In [10]:
recipes.head()

,name,id,tags,contributor_id,ingredients
0,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...",47892,"['winter squash', 'mexican seasoning', 'mixed ..."
1,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...",26278,"['prepared pizza crust', 'sausage patty', 'egg..."
2,all in the kitchen chili,112140,"['time-to-make', 'course', 'preparation', 'mai...",196586,"['ground beef', 'yellow onions', 'diced tomato..."
3,alouette potatoes,59389,"['60-minutes-or-less', 'time-to-make', 'course...",68585,"['spreadable cheese with garlic and herbs', 'n..."
4,amish tomato ketchup for canning,44061,"['weeknight', 'time-to-make', 'course', 'main-...",41706,"['tomato juice', 'apple cider vinegar', 'sugar..."

In [11]:
interactions=interactions[['user_id','rating','recipe_id']]

In [12]:
interactions.head()

   user_id  rating  recipe_id
0    38094       4      40893
1  1293707       5      40893
2     8937       4      44394
3   126440       5      85009
4    57222       5      85009

In [13]:
recipes.rename(columns={'id':'recipe_id'},inplace=True)

In [14]:
recipes

,name,recipe_id,tags,contributor_id,ingredients
0,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...",47892,"['winter squash', 'mexican seasoning', 'mixed ..."
1,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...",26278,"['prepared pizza crust', 'sausage patty', 'egg..."
2,all in the kitchen chili,112140,"['time-to-make', 'course', 'preparation', 'mai...",196586,"['ground beef', 'yellow onions', 'diced tomato..."
3,alouette potatoes,59389,"['60-minutes-or-less', 'time-to-make', 'course...",68585,"['spreadable cheese with garlic and herbs', 'n..."
4,amish tomato ketchup for canning,44061,"['weeknight', 'time-to-make', 'course', 'main-...",41706,"['tomato juice', 'apple cider vinegar', 'sugar..."
...,...,...,...,...,...
231632,zydeco soup,486161,"['ham', '60-minutes-or-less', 'time-to-make', ...",227978,"['celery', 'onion', 'green sweet pepper', 'gar..."
231633,zydeco spice mix,493372,"['15-minutes-or-less', 'time-to-make', 'course...",1500678,"['paprika', 'salt', 'garlic powder', 'onion po..."
231634,zydeco ya ya deviled eggs,308080,"['60-minutes-or-less', 'time-to-make', 'course...",37779,"['hard-cooked eggs', 'mayonnaise', 'dijon must..."
231635,cookies by design cookies on a stick,298512,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['butter', 'eagle brand condensed milk', 'ligh..."
231636,cookies by design sugar shortbread cookies,298509,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['granulated sugar', 'shortening', 'eggs', 'fl..."

In [15]:
merge_df = recipes.merge(interactions,on='recipe_id')

In [16]:
merge_df

,name,recipe_id,tags,contributor_id,ingredients,user_id,rating
0,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...",47892,"['winter squash', 'mexican seasoning', 'mixed ...",4470,5
1,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...",47892,"['winter squash', 'mexican seasoning', 'mixed ...",593927,5
2,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...",47892,"['winter squash', 'mexican seasoning', 'mixed ...",178427,5
3,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...",26278,"['prepared pizza crust', 'sausage patty', 'egg...",28603,0
4,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...",26278,"['prepared pizza crust', 'sausage patty', 'egg...",346277,5
...,...,...,...,...,...,...,...
1132362,zydeco ya ya deviled eggs,308080,"['60-minutes-or-less', 'time-to-make', 'course...",37779,"['hard-cooked eggs', 'mayonnaise', 'dijon must...",844554,5
1132363,cookies by design cookies on a stick,298512,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['butter', 'eagle brand condensed milk', 'ligh...",804234,1
1132364,cookies by design sugar shortbread cookies,298509,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['granulated sugar', 'shortening', 'eggs', 'fl...",866651,1
1132365,cookies by design sugar shortbread cookies,298509,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['granulated sugar', 'shortening', 'eggs', 'fl...",1546277,5
1132366,cookies by design sugar shortbread cookies,298509,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['granulated sugar', 'shortening', 'eggs', 'fl...",1803287907,0

In [17]:
merge_df.isnull().sum()

name              1
recipe_id         0
tags              0
contributor_id    0
ingredients       0
user_id           0
rating            0
dtype: int64

In [18]:
merge_df.dropna(inplace=True)

In [19]:
merge_df.duplicated().sum()

0

In [20]:
import ast

In [21]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i) 
    return L

In [22]:
temp_df=merge_df

In [23]:
temp_df['ingredients'] = temp_df['ingredients'].apply(convert)

In [24]:
temp_df['tags'] = temp_df['tags'].apply(convert)

In [25]:
def convert4(L):
    L1 = []
    for i in L:
        L1.append(i.replace("-",""))
    return L1

def convert5(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [26]:
temp_df['ingredients'] = temp_df['ingredients'].apply(convert4)
temp_df['tags'] = temp_df['tags'].apply(convert4)
temp_df['ingredients'] = temp_df['ingredients'].apply(convert5)
temp_df['tags'] = temp_df['tags'].apply(convert5)

In [27]:
temp1_df=temp_df[['name','recipe_id','tags','ingredients','rating']]

In [28]:
temp1_df

,name,recipe_id,tags,ingredients,rating
0,arriba baked winter squash mexican style,137739,"[60minutesorless, timetomake, course, mainingr...","[wintersquash, mexicanseasoning, mixedspice, h...",5
1,arriba baked winter squash mexican style,137739,"[60minutesorless, timetomake, course, mainingr...","[wintersquash, mexicanseasoning, mixedspice, h...",5
2,arriba baked winter squash mexican style,137739,"[60minutesorless, timetomake, course, mainingr...","[wintersquash, mexicanseasoning, mixedspice, h...",5
3,a bit different breakfast pizza,31490,"[30minutesorless, timetomake, course, mainingr...","[preparedpizzacrust, sausagepatty, eggs, milk,...",0
4,a bit different breakfast pizza,31490,"[30minutesorless, timetomake, course, mainingr...","[preparedpizzacrust, sausagepatty, eggs, milk,...",5
...,...,...,...,...,...
1132362,zydeco ya ya deviled eggs,308080,"[60minutesorless, timetomake, course, mainingr...","[hardcookedeggs, mayonnaise, dijonmustard, sal...",5
1132363,cookies by design cookies on a stick,298512,"[30minutesorless, timetomake, course, preparat...","[butter, eaglebrandcondensedmilk, lightbrownsu...",1
1132364,cookies by design sugar shortbread cookies,298509,"[30minutesorless, timetomake, course, preparat...","[granulatedsugar, shortening, eggs, flour, cre...",1
1132365,cookies by design sugar shortbread cookies,298509,"[30minutesorless, timetomake, course, preparat...","[granulatedsugar, shortening, eggs, flour, cre...",5
1132366,cookies by design sugar shortbread cookies,298509,"[30minutesorless, timetomake, course, preparat...","[granulatedsugar, shortening, eggs, flour, cre...",0

In [29]:
temp3_df = temp1_df.groupby('recipe_id').count()['rating'].reset_index()

In [30]:
temp3_df.rename(columns={'rating':'num_rating'},inplace=True)

In [31]:
temp3_df

        recipe_id  num_rating
0              38           4
1              39           1
2              40           9
3              41           2
4              43           1
...           ...         ...
231631     537459           1
231632     537485           1
231633     537543           1
231634     537671           1
231635     537716           1

[231636 rows x 2 columns]

In [32]:
temp4_df=temp3_df.merge(temp1_df,on='recipe_id')

In [33]:
temp4_df=temp4_df[['recipe_id','num_rating','name','tags','ingredients']]

In [34]:
temp4_df

,recipe_id,num_rating,name,tags,ingredients
0,38,4,low fat berry blue frozen dessert,"[weeknight, timetomake, course, preparation, o...","[blueberries, granulatedsugar, vanillayogurt, ..."
1,38,4,low fat berry blue frozen dessert,"[weeknight, timetomake, course, preparation, o...","[blueberries, granulatedsugar, vanillayogurt, ..."
2,38,4,low fat berry blue frozen dessert,"[weeknight, timetomake, course, preparation, o...","[blueberries, granulatedsugar, vanillayogurt, ..."
3,38,4,low fat berry blue frozen dessert,"[weeknight, timetomake, course, preparation, o...","[blueberries, granulatedsugar, vanillayogurt, ..."
4,39,1,biryani,"[weeknight, timetomake, course, mainingredient...","[saffron, milk, hotgreenchilipeppers, onions, ..."
...,...,...,...,...,...
1132361,537459,1,bailey s chocotini,"[15minutesorless, timetomake, course, preparat...","[baileysirishcream, chocolateliqueur, vodka]"
1132362,537485,1,5 ingredient salted caramel crumble bars,"[60minutesorless, timetomake, course, preparat...","[pillsburysugarcookiedough, carameltopping, al..."
1132363,537543,1,moist gingerbread cake,"[60minutesorless, timetomake, course, cuisine,...","[unsaltedbutter, applesauce, egg, unsulphuredm..."
1132364,537671,1,nutcracker peppermint red velvet cake pops,"[timetomake, course, preparation, occasion, fo...","[devil'sfoodcakemix, eggs, buttermilk, redfood..."
1132365,537716,1,mini buffalo chicken cheesesteaks,"[60minutesorless, timetomake, course, mainingr...","[oliveoil, greenbellpepper, yellowonion, salt,..."

In [35]:
temp4_df=temp4_df.drop_duplicates('recipe_id')

In [36]:
temp4_df

,recipe_id,num_rating,name,tags,ingredients
0,38,4,low fat berry blue frozen dessert,"[weeknight, timetomake, course, preparation, o...","[blueberries, granulatedsugar, vanillayogurt, ..."
4,39,1,biryani,"[weeknight, timetomake, course, mainingredient...","[saffron, milk, hotgreenchilipeppers, onions, ..."
5,40,9,best lemonade,"[60minutesorless, timetomake, course, preparat...","[sugar, lemons,rindof, freshwater, freshlemonj..."
14,41,2,carina s tofu vegetable kebabs,"[weeknight, timetomake, course, mainingredient...","[extrafirmtofu, eggplant, zucchini, redpepper,..."
16,43,1,best blackbottom pie,"[weeknight, timetomake, course, cuisine, prepa...","[grahamcrackercrumbs, sugar, butter, cornstarc..."
...,...,...,...,...,...
1132361,537459,1,bailey s chocotini,"[15minutesorless, timetomake, course, preparat...","[baileysirishcream, chocolateliqueur, vodka]"
1132362,537485,1,5 ingredient salted caramel crumble bars,"[60minutesorless, timetomake, course, preparat...","[pillsburysugarcookiedough, carameltopping, al..."
1132363,537543,1,moist gingerbread cake,"[60minutesorless, timetomake, course, cuisine,...","[unsaltedbutter, applesauce, egg, unsulphuredm..."
1132364,537671,1,nutcracker peppermint red velvet cake pops,"[timetomake, course, preparation, occasion, fo...","[devil'sfoodcakemix, eggs, buttermilk, redfood..."
1132365,537716,1,mini buffalo chicken cheesesteaks,"[60minutesorless, timetomake, course, mainingr...","[oliveoil, greenbellpepper, yellowonion, salt,..."

In [37]:
merge1_df=temp4_df

In [38]:
merge1_df['fin_tags']=merge1_df['tags']+merge1_df['ingredients']

C:\Users\harsh\AppData\Local\Temp\ipykernel_6692\1287253668.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge1_df['fin_tags']=merge1_df['tags']+merge1_df['ingredients']

In [39]:
merge1_df=merge1_df[['name','recipe_id','fin_tags','num_rating']]

In [40]:
merge1_df

,name,recipe_id,fin_tags,num_rating
0,low fat berry blue frozen dessert,38,"[weeknight, timetomake, course, preparation, o...",4
4,biryani,39,"[weeknight, timetomake, course, mainingredient...",1
5,best lemonade,40,"[60minutesorless, timetomake, course, preparat...",9
14,carina s tofu vegetable kebabs,41,"[weeknight, timetomake, course, mainingredient...",2
16,best blackbottom pie,43,"[weeknight, timetomake, course, cuisine, prepa...",1
...,...,...,...,...
1132361,bailey s chocotini,537459,"[15minutesorless, timetomake, course, preparat...",1
1132362,5 ingredient salted caramel crumble bars,537485,"[60minutesorless, timetomake, course, preparat...",1
1132363,moist gingerbread cake,537543,"[60minutesorless, timetomake, course, cuisine,...",1
1132364,nutcracker peppermint red velvet cake pops,537671,"[timetomake, course, preparation, occasion, fo...",1
1132365,mini buffalo chicken cheesesteaks,537716,"[60minutesorless, timetomake, course, mainingr...",1

In [41]:
merge1_df['fin_tags'][231636]

['60minutesorless',
 'timetomake',
 'course',
 'mainingredient',
 'cuisine',
 'preparation',
 'northamerican',
 'soupsstews',
 'rice',
 'american',
 'stovetop',
 'midwestern',
 'pastariceandgrains',
 'equipment',
 'creamofchickensoup',
 'creamcheese',
 'wildricemix',
 'carrot',
 'frozenchoppedbroccoli',
 'sliveredalmonds']

In [42]:
merge1_df['fin_tags'][0]

['weeknight',
 'timetomake',
 'course',
 'preparation',
 'occasion',
 'lowprotein',
 'healthy',
 '5ingredientsorless',
 'desserts',
 '1dayormore',
 'easy',
 'lowfat',
 'summer',
 'frozendesserts',
 'freezer',
 'dietary',
 'lowsodium',
 'glutenfree',
 'lowcholesterol',
 'seasonal',
 'lowsaturatedfat',
 'lowcalorie',
 'healthy2',
 'freeofsomething',
 'lowinsomething',
 'equipment',
 'blueberries',
 'granulatedsugar',
 'vanillayogurt',
 'lemonjuice']

In [43]:
merge1_df['fin_tags'] = merge1_df['fin_tags'].apply(lambda x: " ".join(x))

C:\Users\harsh\AppData\Local\Temp\ipykernel_6692\3160723436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge1_df['fin_tags'] = merge1_df['fin_tags'].apply(lambda x: " ".join(x))

In [44]:
merge1_df

,name,recipe_id,fin_tags,num_rating
0,low fat berry blue frozen dessert,38,weeknight timetomake course preparation occasi...,4
4,biryani,39,weeknight timetomake course mainingredient cui...,1
5,best lemonade,40,60minutesorless timetomake course preparation ...,9
14,carina s tofu vegetable kebabs,41,weeknight timetomake course mainingredient cui...,2
16,best blackbottom pie,43,weeknight timetomake course cuisine preparatio...,1
...,...,...,...,...
1132361,bailey s chocotini,537459,15minutesorless timetomake course preparation ...,1
1132362,5 ingredient salted caramel crumble bars,537485,60minutesorless timetomake course preparation ...,1
1132363,moist gingerbread cake,537543,60minutesorless timetomake course cuisine prep...,1
1132364,nutcracker peppermint red velvet cake pops,537671,timetomake course preparation occasion forlarg...,1
1132365,mini buffalo chicken cheesesteaks,537716,60minutesorless timetomake course mainingredie...,1

In [45]:
merge2_df=merge1_df

In [46]:
merge2_df

,name,recipe_id,fin_tags,num_rating
0,low fat berry blue frozen dessert,38,weeknight timetomake course preparation occasi...,4
4,biryani,39,weeknight timetomake course mainingredient cui...,1
5,best lemonade,40,60minutesorless timetomake course preparation ...,9
14,carina s tofu vegetable kebabs,41,weeknight timetomake course mainingredient cui...,2
16,best blackbottom pie,43,weeknight timetomake course cuisine preparatio...,1
...,...,...,...,...
1132361,bailey s chocotini,537459,15minutesorless timetomake course preparation ...,1
1132362,5 ingredient salted caramel crumble bars,537485,60minutesorless timetomake course preparation ...,1
1132363,moist gingerbread cake,537543,60minutesorless timetomake course cuisine prep...,1
1132364,nutcracker peppermint red velvet cake pops,537671,timetomake course preparation occasion forlarg...,1
1132365,mini buffalo chicken cheesesteaks,537716,60minutesorless timetomake course mainingredie...,1

In [47]:
merge3_df = merge2_df[merge2_df['num_rating']>=10].sort_values('recipe_id',ascending=False).reset_index()

In [48]:
merge3_df=merge3_df.drop_duplicates('recipe_id')

In [49]:
merge3_df=merge3_df[['name','recipe_id','fin_tags','num_rating']]

In [50]:
merge3_df.rename(columns={'name':'recipe_name'},inplace=True)

In [51]:
merge3_df

,recipe_name,recipe_id,fin_tags,num_rating
0,firecracker shrimp cups,535779,60minutesorless timetomake course mainingredie...,10
1,pizza skulls,533699,30minutesorless timetomake course preparation ...,20
2,red wine chicken skillet,532078,60minutesorless timetomake course mainingredie...,11
3,cajun guacamole shrimp cups,530478,60minutesorless timetomake course mainingredie...,11
4,rainbow rose veggie tart,530224,timetomake course preparation sidedishes 4hour...,24
...,...,...,...,...
21394,all purpose crock pot chicken,150,weeknight timetomake course mainingredient pre...,12
21395,almond fudge banana cake,142,weeknight timetomake course preparation forlar...,22
21396,black coffee barbecue sauce,66,lactose 30minutesorless timetomake course cuis...,19
21397,black bean corn and tomato salad,62,30minutesorless timetomake course mainingredie...,22
21398,chicken breasts lombardi,49,weeknight timetomake course mainingredient cui...,20

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=500,stop_words='english')

In [53]:
vector = cv.fit_transform(merge3_df['fin_tags']).toarray()

In [54]:
vector

array([[0, 0, 0, ..., 0, 0, 2],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

In [56]:
similarity = cosine_similarity(vector)

In [57]:
similarity

array([[1.        , 0.18569534, 0.21300716, ..., 0.12930164, 0.20814536,
        0.2001112 ],
       [0.18569534, 1.        , 0.30588765, ..., 0.23210354, 0.21350421,
        0.3592106 ],
       [0.21300716, 0.30588765, 1.        , ..., 0.19968077, 0.22041551,
        0.4532471 ],
       ...,
       [0.12930164, 0.23210354, 0.19968077, ..., 1.        , 0.47387047,
        0.25012216],
       [0.20814536, 0.21350421, 0.22041551, ..., 0.47387047, 1.        ,
        0.23007892],
       [0.2001112 , 0.3592106 , 0.4532471 , ..., 0.25012216, 0.23007892,
        1.        ]])

In [61]:
recommended_products=[];

In [62]:
def recommend(dish):
    if not merge3_df[merge3_df['recipe_name'] == dish].empty:
        index = merge3_df[merge3_df['recipe_name'] == dish].index[0]
        distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
        for i in distances[1:21]:
            recommended_products.append(merge3_df.iloc[i[0]].recipe_id)

In [59]:
merge3_df

,recipe_name,recipe_id,fin_tags,num_rating
0,firecracker shrimp cups,535779,60minutesorless timetomake course mainingredie...,10
1,pizza skulls,533699,30minutesorless timetomake course preparation ...,20
2,red wine chicken skillet,532078,60minutesorless timetomake course mainingredie...,11
3,cajun guacamole shrimp cups,530478,60minutesorless timetomake course mainingredie...,11
4,rainbow rose veggie tart,530224,timetomake course preparation sidedishes 4hour...,24
...,...,...,...,...
21394,all purpose crock pot chicken,150,weeknight timetomake course mainingredient pre...,12
21395,almond fudge banana cake,142,weeknight timetomake course preparation forlar...,22
21396,black coffee barbecue sauce,66,lactose 30minutesorless timetomake course cuis...,19
21397,black bean corn and tomato salad,62,30minutesorless timetomake course mainingredie...,22
21398,chicken breasts lombardi,49,weeknight timetomake course mainingredient cui...,20

In [63]:
recommend('pizza skulls')

In [64]:
recommended_products

['stuffed crust pepperoni pizza',
 'low fat pepperoni pizza on a flat out',
 'robyn s fish stick tacos',
 'easy bread machine pizza crust',
 'pepperoni stromboli',
 'quick and easy six cheese tortellini bake',
 '5 layer italian dip',
 'super crispy thin pizza crust',
 'linda s mexican pizza',
 'pita pizza',
 'no dough pizza  low carb cream cheese pizza crust',
 'sara s hawaiian pizza',
 'low carb pizza',
 'eggplant  aubergine  parmesan pizza',
 'spinach feta and artichoke pizza',
 'nutty cheese tortellini',
 'low carb pork rind pizza crust',
 'slow cooker pizza',
 'pizzeria uno chicago deep dish pizza',
 'cheesy  beefy noodle casserole w pepperoni']